#Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

#Navbar li {
    float: left;
    }

#Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

#Navbar li a:hover {
    background-color: #111;
    }

#Leftlist{
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    }

#image {
    margin-left: 50%;
    width: 50%;
    }

#aboutus {
    margin-left: 50%;
    width: 50%;
    }

#Rightlist ul {
    margin-left: 50%;
    padding: 0;
    }

#form {
    clear: both;
    text-align: center;
}

#restaurantImage{
    margin-left: 50%;
    width: 25%;
}

#googleMaps{
    margin-left: 76%;
    width: 24%;
}