body{
    background-color: #333;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 24px;
}

li {
    list-style-type: none;
}

#Navbar {
    width: 100%;
}

#Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

#Navbar span a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
    width:25%;
    }

#Navbar span a:hover {
    background-color: #111;
    }

#Leftlist{
    background-color: #333;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    }

#Leftlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

#Leftlist a:hover{
    background-color: #111;
}

#image {
    margin-left: 50%;
    width: 50%;
}

#aboutus {
    margin-left: 50%;
    width: 50%;
    text-align: center;
}

#Rightlist{
    margin-left: 50%;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

#Rightlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#Rightlist a:hover{
    background-color: #111;
}

#form {
    clear: both;
    text-align: center;
    font-size: 20px;
}

#restaurantlist {
    width: 40%;
    float: left;
    margin: 0;
    padding-left: 10%;
    font-size: 18px;
}

#restaurantImage{
    margin-left: 50%;
    width: 25%;
}

#googleMaps{
    margin-left: 76%;
    width: 24%;
}

@media (max-width: 600px){
    #Leftlist{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #image {
        display:none;
    }
}

@media (max-width: 600px) {
    #aboutus {
        clear:both;
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    #Rightlist{
        width: 100%;
        margin-left: 0%;
        padding: 0;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    #restaurantImage{
        display:none;
    }
}

@media (max-width: 600px) {
    #googleMaps{
        margin-left: 50%;
        width: 50%;
    }
}