body{
    background-color: #333;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 24px;
}

li {
    list-style-type: none;
}

#Navbar {
    width: 100%;
}

#Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

#Navbar span a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
    width:25%;
    }

#Navbar span a:hover {
    background-color: #111;
    }

#Leftlist{
    background-color: #333;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    }

#Leftlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

#Leftlist a:hover{
    background-color: #111;
}

#image {
    margin-left: 50%;
    width: 50%;
}

#aboutus {
    margin-left: 50%;
    width: 50%;
    text-align: center;
}

#Rightlist{
    margin-left: 50%;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

#Rightlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#Rightlist a:hover{
    background-color: #111;
}

#form {
    clear: both;
    text-align: center;
    font-size: 20px;
}

#restaurantlist {
    width: 40%;
    float: left;
    margin: 0;
    padding-left: 10%;
    font-size: 18px;
}

#restaurantImage{
    margin-left: 50%;
    width: 25%;
}

#googleMaps{
    margin-left: 76%;
    width: 24%;
}

#rating_form {
    width: 100%;
    height: 500px;
}

#stars_section {
    width: 50%;
    height: 450px;
    float: left;
}

#comment_section {
    width: 50%;
    height: 450px;
    float: right;
}

#submit_section {
    float: center;
    width: 100%;
}

#comment_box {
    width: 50%;
    height: 400px;
    float: center;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #aaa;
    font-size: 16px;
    resize: none;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto 1em;
    overflow:hidden;
    float: right;
    border: none;
}

.rating > input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating h2 {
    font-size: 25px;
}

.rating > label {
    font-size: 50px;
    float: right;
    color: #aaa; /*grey*/
    text-decoration: none;
    -webkit-transition: color .8s;
    -moz-transition: color .8s;
    -o-transition: color .8s;
    transition: color .8s;
    float:none
}

.rating > input:checked ~ label, /* makes selected and any before selected yellow */
.rating > label:hover ~ label, /* makes hovered and any before hovered yellow */
.rating > input:checked + label,
.rating > input:hover + label {
    cursor: pointer;
    color: #ffdb4d;
    -webkit-transition: color .8s;
    -moz-transition: color .8s;
    -o-transition: color .8s;
    transition: color .8s;
}

@media (max-width: 600px){
    #Leftlist{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #image {
        display:none;
    }
}

@media (max-width: 600px) {
    #aboutus {
        clear:both;
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    #Rightlist{
        width: 100%;
        margin-left: 0%;
        padding: 0;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    #restaurantImage{
        display:none;
    }
}

@media (max-width: 600px) {
    #googleMaps{
        margin-left: 50%;
        width: 50%;
    }
}