<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<link rel="stylesheet" href='{% static "Rateaurant/Style.css" %}'/>
		<title>
		Rango -
		{% block title_block %}
			Rateaurant
		{% endblock %}
		</title>
	</head>
	<body>
        <div>
            <h1> Rateaurant </h1>
        </div>
		<hr />
        <div id="Navbar">
			<ul>
				<span><a href="{% url 'Rateaurant:home' %}">Home</a></span>
				<span><a href="{% url 'Rateaurant:categories' %}">All Categories</a></span>
				{% if user.is_authenticated %}
				{%if user.owner %}
					<span><a href="{% url 'Rateaurant:addarestaurant' %}">Add a Restaurant</a></span>
				{% endif %}
				<span><a href="{% url 'Rateaurant:logout' %}">Logout</a></span>
				<span><a href="">Welcome, {{ user }}</a></span></li>
				{% else %}
					<span><a href="{% url 'Rateaurant:register' %}">Register</a></span>
					<span><a href="{% url 'Rateaurant:login' %}">Login</a></span>
				{% endif %}
			</ul>
		</div>
        <hr />
		<div>
		{% block body_block %}
		{% endblock %}
		</div>
	</body>
</html>