<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="Style.css"/>
</head>

{% block title_block %}
	{% if venues %}
		{{ venues.1.category }}
	{% else %}
		Unknown Category
	{% endif %}
{% endblock %}

{% block body_block %}
<div id="Leftlist">
	<h2> Restaurants </h2>
	{% if venues %}
	<ul>
		{% for venue in venues %}
		<li><a href="{% url 'Rateaurant:show_venue' venue.category venue.restaurant_ID %}">{{ venue.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<strong>No restaurants currently in the category</strong>
	{% endif %}
</div>
<div id="image">
  <img src="/media/{{ category.name}}.jpg" alt="Picture of the category" />
</div>
{% endblock %}