<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
	All Categories
{% endblock %}

{% block body_block %}
<div id="Leftlist">
	<h2> Types of restaurants </h2>
	{% if categories %}
	<ul>
		{% for category in categories %}
			<li><a href="{% url 'Rateaurant:show_category' category.1 %}">{{ category.1 }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>No pages currently in category.</strong>
	{% endif %}
</div>

<div id="Rightlist">
	<h2> Favourite Restaurants </h2>
	{% if favourites %}
		<ul>
		{% for favourite in favourites %}
			<li><a href="{% url 'Rateaurant:show_venue' favourite.category favourite.rest_id %}">{{ favourite.name }}</a></li>
		{% endfor %}
		</ul>
  	{% else %}
		<strong>No favourites yet</strong>
  	{% endif %}
</div>
{% endblock %}