<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}

<div id="Leftlist">
  <h2> Top 10 Restaurants </h2>
  {% if top_venues %}
		<ul>
		{% for venue in top_venues %}
			<li>
				<a href="{% url 'Rateaurant:show_venue' venue.category venue.rest_id %}">{{ venue.name }}</a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<strong>There are no restaurants</strong>
	{% endif %}
</div>

<div id="image">
  <img src="{% static 'images/HomeRestaurant.jpg' %}" alt="Picture of a Restaurant" />
</div>

<div id="aboutus">
	<h2> About us </h2>
	<p>
		Here at Rateaurant we want to make finding your next favourite restaurant as easy as possible.
		So we wanted to create this website for our fellow foodies to rate restaurants they've eaten in
		to help others discover their own little culinary oasis. Currently, we are trialing the site in Glasgow
		to help get feedback about our app. We hope you find our app useful. While this site is free you can donate
		to our kickstarter
	</p>
</div>

{% endblock %}