<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<div id="form">
  <h1>Login to Rateaurant</h1>
  <form id="login_form" method="post" action="{% url 'Rateaurant:login' %}">
	{%csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	</br> </br>
	Password: <input type="password" name="password" value="" size="50" />
	</br> </br>
	<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}