<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="Style.css"/>
</head>

{% block title_block %}
	Register
{% endblock %}

{%block body_block %}
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
{% else %}
<div id="form">
  <h1>Register as a Viewer</h1>
  <form id="viewer_form" method="post" action="{% url 'Rateaurant:register' %}" enctype="multipart/form-data">

	{% csrf_token %}

	{{ user_form.as_p }}
	{{ profile_form.as_p }}

	<input type="submit" name="submit" value="Register" />
  </form>
</div>

<div id="form">
  <h1>Register as an Owner</h1>
  <form id="Owner_form" method="post" action="{% url 'Rateaurant:register' %}" enctype="multipart/form-data">

	{% csrf_token %}

	{{ user_form.as_p }}
	{{ profile_form.as_p }}

	<input type="submit" name="submit" value="Register" />
  </form>
</div>

{% endif %}
{% endblock %}