<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

<head xmlns="http://www.w3.org/1999/html">
	<link rel="stylesheet" href="Style.css"/>
</head>

{% block title_block %}
	Register
{% endblock %}

{%block body_block %}
	{% if registered %}
		Rango says: <strong>thank you for registering!</strong>
	{% else %}
		<div id="form">
		  <h1>Register for Rateaurant</h1>
		  <form id="Owner_form" method="post" action="{% url 'Rateaurant:register' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}

			E-mail: <input type="email" name="email" value='' /></br> </br>
			Register as Restaurant Owner: <input type="checkbox" name="as_owner" value="Register as Restaurant Owner" /></br>
			<input type="submit" name="submit" value="Register" />
		  </form>
		</div>
	{% endif %}
{% endblock %}