<!DOCTYPE html>
{% extends 'Rateaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if venue %}
		{{ restaurant.name }}
	{% else %}
		Unknown Restaurant
	{% endif %}
{% endblock %}

{% block body_block %}

<div id="restaurantlist">
  <p>
      <h3> {{ venue.name }} </h3>
      Address: {{ venue.address }} <br>
      Category: {{ venue.category }} <br>
      Take-away: {{ venue.takeaway_option }} <br>
      Food: {{ food_Rating }} <br>
      Service: {{ service_Rating }} <br>
      Atmosphere: {{ atmosphere_Rating }} <br>
      Price: {{ price_Rating }} <br>
  </p>
</div>

<div id="restaurantImage">
  <img src="{{ venue.picture.url }}" alt="Picture of the Restaurant" />
</div>

<div id="googleMaps">
    Google Maps Goes here
</div>

<div id="form">
	<hr />
	<h2> Rate this Restaurant </h2>
	<form id="rating_form" method="post" action="{% url 'Rateaurant:show_venue' %"}>
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Add a Rating" />
		</form>
</div>

<div>
	Placeholder for favourite button.
</div>

{% endblock %}